.cards-wrapper {
}

.cards {
  @include columnizer(1, 1rem);
  .card {
    position: relative;
    background-color: $white;
    padding: 2rem 2rem 4rem;
    min-height: 300px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 $primary-color;
    &__title {
      font-family: $title-font;
      font-weight: 900;
      font-size: 1.4rem;
      line-height: 1.3;
      margin: 0 0 1rem 0;
    }
    &__label {
      font-size: 0.9rem;
      margin-bottom: 1rem;
      margin-top: -0.5rem;
      opacity: 0.5;
    }
    &__description {
      font-size: 0.9rem;
      line-height: 1.5;
    }
    &__link {
      @include stretched-link;
      text-decoration: none;
      color: inherit;
    }
    @for $i from 1 through 20 {
      @include only($i) {
        @include loadify($i * 0.1s);
      }
    }
    ion-icon {
      display: none;
      position: absolute;
      right: 2rem;
      bottom: 1.8rem;
      font-size: 2rem;
      color: rgb(200, 200, 200);
    }
    &:hover {
      border-color: $primary-color;
      box-shadow: 6px 6px 0 $primary-color;
      color: $primary-color;
      .card__label {
        opacity: 1;
      }
      ion-icon {
        display: block;
        color: $primary-color;
      }
    }
    &:active {
      border-color: $primary-color;
      box-shadow: 0 0 0 $primary-color;
      transition: 0.2s;
    }
  }
  @include breakpoint(min, large) {
    @include columnizer(2, 1rem);
  }
  @include breakpoint(min, xlarge) {
    @include columnizer(3, 1.2rem);
  }
  @include breakpoint(min, xxlarge) {
    @include columnizer(4, 1.2rem);
  }
}
