.featured-image {
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(45%);
  @include loadify();
  @include background-image();
  position: fixed;
  z-index: -1;
  @include breakpoint(min, xlarge) {
    border: 2rem solid $body-bg-color;
  }
}