.featured-image {
  position: relative;
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(45%);
  @include loadify();
  @include background-image();
  position: fixed;
  z-index: -1;
  @include breakpoint(min, xlarge) {
    // border: 2rem solid $body-bg-color;
  }
  &__filter {
    @include position();
    &.dots {
      @include background-dots(
        $color: transparentize(black, 0.9) transparentize(black, 0.85),
        $size: 1.5px,
        $gutter: 20px
      );
    }
    &.stripes {
      @include background-stripes(
        $color: transparentize(black, 0.8),
        $thickness: 1px,
        $rotation: 0
      );
    }
  }
}
