@include antialias;
@include reset-css;
@include border-box;
@include loadify();

$map-for-breakpoints: (
  "xsmall": 0,
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "xlarge": 1200px,
  "xxlarge": 1600px,
);

@include breakpointer {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

html {
  font-size: 100%;
  letter-spacing: 0.33px;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  min-height: 100%;
  font-family: $body-font;
  text-rendering: optimizeLegibility;
  background-color: $body-bg-color;
  color: $body-text-color;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

h1 {
  font-size: 2.5em;
  margin-bottom: $global-space;
}

h2,
h3 {
  font-size: 1.8em;
  margin-bottom: $global-space;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $global-space * 3;
  font-style: normal;
  line-height: 1.3;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  float: left;
  background-color: $content-bg-color;
  @include adaptive();
}
.content-wrapper {
  display: flex;
  .sidebar {
    flex: 0 0 300px;
  }
  .content {
    flex: 1;
  }
}

.sidebar {
  padding: $global-space * 2;
}
