.hero {
  display: flex;
  align-items: center;
  background-color: rgb(220,220,220);
  margin-bottom: 2rem;
  @include loadify();
  @include ratio-box(16/2);
  @include background-image();
  &__image {
    @include hide;
  }
}