.navigation {
  font-family: Roboto MONO, sans-serif;
  margin-bottom: 2rem;
  a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
  }
  &__list {
    &__item {
      position: relative;
      @include except(last) {
        margin-bottom: 5px;
      }
      &.active {
        .navigation__list__item__link {
          font-weight: bold;
        }
      }
      &.home {
        margin-bottom: 2rem;
      }
    }
  }
}
