//Color Library
$white: #FFFFFF;
$black: #000000;
$snow: #fafaf8;
$bus-yellow: #ffd900;
$yellow-munsell: #F1D00A;
$celtic-blue: #0366D6;
$light-gray: #EEEEEE;
$raisin-black: #201E1F;

// Color Styles
$primary-color: $raisin-black;
$secondary-color: $bus-yellow;
$tertiary-color: $celtic-blue;

$body-bg-color: $bus-yellow;
$content-bg-color: $light-gray;

$body-text-color: $raisin-black;

$color-link: #05b !default;

// Font Styles
$body-font: "Roboto MONO", sans-serif;
$title-font: "Roboto MONO", sans-serif;

$global-space: 1rem;


