//Color Library
$white: #FFFFFF;
$black: #000000;
$snow: #fafaf8;
$steal-teal: #668F80;
$charleston-green: #222C25;
$crayola: #2f3937;
$granite-green: #657167;
$artichoke: #8b9381;
$light-gray: rgb(230,230,230);
$bus-yellow: #ffd900;
$light-sea-green: #5BC0BB;
$granite-green: #657167;
$copper: #B77434;
$snow: #FAFAF8;
$jelly-bean: #DB504A;
$celtic-blue: #0366D6;

$primary-color: $steal-teal;
$secondary-color: $light-sea-green;
$tertiary-color: $artichoke;

$link-color: $primary-color;
$link-color-hover: $primary-color;
$link-color-active: $primary-color;
$link-color-visited: $primary-color;

$body-text-color: $charleston-green;
$body-background-color: $white;

$code-background-color: $snow;
$code-text-color: $body-text-color;

$label-color: transparentize($body-text-color, .5);

$border-width: 1px;
$border-color: $light-gray;
$border-style: solid;
$border-radius: 3px;

$placeholder-color: transparentize($body-text-color, .5);

$global-space: 1rem;

$primary-font-family: "Jumble", sans-serif;
$secondary-font-family: "Roboto", sans-serif;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;


// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;

$border-radius: 0.15rem !default;

// Grayscale
$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$color-link: #05b !default;

$body-background-color: white !default;
$body-font-color: $gray-800 !default;
$body-font-weight: normal !default;

$header-height: 90px !default;

$container-max-width: 1400px !default;
$body-min-width: 500px !default;

$menu-width: 250px !default;
$toc-width: 250px !default;

$mobile-breakpoint: $menu-width + $body-min-width + $toc-width !default;

$icon-filter: none !default;