//Color Library
$white: #FFFFFF;
$black: #000000;
$snow: #fafaf8;
$bus-yellow: #ffd900;
$yellow-munsell: #F1D00A;
$celtic-blue: #0366D6;
$light-gray: rgb(245,245,245);
$raisin-black: #201E1F;

// Color Styles
$primary-color: $celtic-blue;
$secondary-color: $bus-yellow;
$tertiary-color: $celtic-blue;

$body-bg-color: $light-gray;
$content-bg-color: $light-gray;

$body-text-color: $raisin-black;

$color-link: #05b !default;

// Font Styles

$title-font: univia-pro, sans-serif;
$body-font: Poppins, sans-serif;
$mono-font: roboto-mono, monospace;


$global-space: 1rem;


