<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head.html" . }}

  <body>
   
    <main class="main-container">

      <aside class="sidebar">

        {{ partial "navigation.html" . }}

        <div>This is the baseof.html template.</div>

      </aside><!-- .sidebar -->

      <div class="page">

        <div class="page__header">
          <h2 class="page__title">{{ .Params.Title }}</h2>
          <div class="page__description">{{ .Content }}</div>
        </div>

        {{ partial "items.html" . }}

      </div><!-- .page -->

    </main>

  </body>

</html>