<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head.html" . }}

  <body class="{{ if .IsHome }}home{{ else }}{{ .Section }}{{ end }}">

    <main class="main">

      {{ partial "header.html" . }}

      <section class="content-wrapper">
        {{ partial "sidebar.html" . }}
        {{ partial "content.html" . }}
      </section><!-- .content-wrapper -->

      {{ partial "footer.html" . }}

    </main><!-- .main -->

    {{ partial "featured-image.html" . }}

  </body>
  
</html>