<head>

  {{ "<!--" | safeHTML }}Designed and built by Halil İbrahim Çakıroğlu{{ "-->" | safeHTML }}
  <meta charset="utf-8">
  <title>{{ .Params.Title }} · {{ .Site.Title }}</title>

  {{ if .Params.Description }}
    <meta name="description" content="{{ .Params.Description }}">
  {{ else }}
    <meta name="description" content="{{ .Site.Params.Description }}">
  {{ end }}

  {{ if .Params.Keywords }}
    {{ with .Keywords }}<meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }} {{ end }}{{ $e }}{{ end }}">{{ end }}
  {{ else }}
    <meta name="keywords" content="{{ .Site.Params.Keywords }}">
  {{ end }}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Theme stylesheet, you can customize scss by creating `assets/custom.scss` in your website -->
  {{- $styles := resources.Get "scss/styles.scss" | resources.ExecuteAsTemplate "scss/styles.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">

  {{ if .Params.css }}
    <link rel="stylesheet" href="{{ .Params.css }}">
  {{ end }}

  <meta name="theme-color" content="#fafafa">

  <link rel="stylesheet" href="https://use.typekit.net/krh0cxw.css">

</head>