  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Theme stylesheet, you can customize scss by creating `assets/custom.scss` in your website -->
    {{- $styles := resources.Get "scss/styles.scss" | resources.ExecuteAsTemplate "scss/styles.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">

    {{ if .Params.css }}
      <link rel="stylesheet" href="{{ .Params.css }}">
    {{ end }}

    <meta name="theme-color" content="#fafafa">
  </head>